.awardBanner{
    padding: 190px 0 0 0;
}
.awardBanner img{
    width: 100%;
    height: auto;
    min-height: 300px;
}
.journeySection{
    background-image: url("https://kidzapp.com/images/kiidzapp-awars-2.jpg");
    background-size: cover;
    background-position: center;
    padding: 57px 0 122px 0;
    background-repeat: no-repeat;
}
.kidzAppAwardsContainer{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.kidzAppAwardsRow{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.kidzAppAwardsCol{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.journeySection h1{
    text-align: center;
    width: 100%;
    color: #484848;
    letter-spacing: 1.50px;
    font-size: 42px;
    font-weight: 700;
    line-height: 46px;
}
.journeySection ul.journeySlides{
    position: relative;
    margin: 78px -15px 0;
    padding-left: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    list-style: none;
}
.journeySection ul.journeySlides li {
    position: relative;
    text-align: center;
    width: 100%;
    list-style: none;
    padding: 0 15px;
    z-index: 1;
    align-content: flex-start;
    min-height: 340px;
}
li.journeyItem .journeyImg {
    margin: 0 auto;
}
li.journeyItem .journeyImg img {
    max-width: 100%;
    height: 100%;
}
.kidzAppAwardsImg{
    vertical-align: middle;
    border-style: none;
}
li.journeyItem h4 {
    text-align: center;
    font-weight: 600;
    border: 3px solid #47b57b;
    border-radius: 15px;
    width: 100%;
    max-width: 160px;
    margin: 0 auto;
    padding: 15px 10px;
    font-size: 20px;
    color: #484848;
}
li.journeyItem::after{
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: #00adee;
    z-index: 1;
    top: calc(100% + 38px);
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
}
li.journeyItem::before{
    content: '';
    position: absolute;
    height: 10px;
    width: 100%;
    background-color: #00adee;
    top: calc(100% + 48px);
    right: calc(10% - 14px);
}
.awardPartner{
    width: 100%;
    height: auto;
    padding: 90px 0 70px 0;
    text-align: center;
}
.awardPartnerContainer{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.awardPartnerRow{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center !important;
}
.awardPartnerCol{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.awardPartner h2{
    text-align: center;
    width: 100%;
    color: #484848;
    letter-spacing: 1.72px;
    font-size: 42px;
    font-weight:700;
    line-height: 46px;
    margin-bottom: 0.5rem;
    margin-top: 0;
}
.awardWinners{
    background-color: #fafafa;
    padding: 54px 0 57px;
}
.awardWinnersContainer{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.awardWinners h3{
    text-align: center;
    width: 100%;
    color: #484848;
    letter-spacing: 1.72px;
    font-size: 42px;
    font-weight: 700;
    line-height: 46px;
    margin-top: 0;
    margin-bottom: 0.5rem;
}
.awardWinnersRow{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.winners-main-wrapper {
    padding-top: 91px;
    justify-content: center !important;
}
.awardWinnersCol{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.winnersOuterSection {
    padding: 25px 23px 24px;
    margin-bottom: 40px;
    border: 1px solid #b7b7b7;
    border-radius: 10px;
    background: #fff;
}
.winnersOuterSection .categoryBadgeSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 9px;
}
.winnersOutersection img{
    max-width: 100%;
}
.winnersOuterSection .categoryBadgeSection img {
    width: 93px;
    margin-right: 10px;
    display: block;
}
.winnerSectionImg {
    vertical-align: middle;
    border-style: none;
}
.winnersOuterSection .categoryBadgeSection h2 {
    font-size: 24px;
    line-height: 34px;
    text-align: left;
    margin-bottom: 5px;
    letter-spacing: .3px;
    color: #414141;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.5rem;
    display: flex;
}
.winnersOuterSection .winnerSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 5px;
    justify-content: space-between;
}
.winnersOuterSection .winnerSectionInner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 37%;
    max-width: 37%;
    position: relative;
    flex-wrap: nowrap;
}
.winnersOuterSection .winnerSection .leftBlock {
    display: flex;
    justify-content: center;
    align-items: center;
}
.winnersOuterSection img {
    max-width: 100%;
}
.winnerSectionImg{
    vertical-align: middle;
    border-style: none;
}
.winnersOuterSection .winnerSectionInner p {
    color: grey;
    font-size: 18px;
    font-weight: 400;
    margin: 0 5px 0 10px;
    text-transform: capitalize;
    line-height: 23px;
    font-weight: 600;
}
.winnerSectionInner span{
    color: #d4af36;
    display: block;
    font-size: 12px;
    font-weight: 600;
}
.winnersOuterSection .rightBlock{
    width: 94px;
}
.winnersOuterSection .winnerSectionInner::after{
    content: "";
    position: absolute;
    height: 90%;
    width: 0.5px;
    background: #b7b7b7;
    right: -35%;
    left: auto;
    top: 0;
}