@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&family=Roboto+Slab:wght@800&family=Roboto:ital,wght@0,500;1,300&display=swap');
.title  
{  
        margin-bottom: 20px;  
        padding:20px  
} 
/* <----------------------------------------------------------------text.css--------------------------------------------------------------------------> */
.headerText h1{
    width: 85%;
    font-size: 65px;
    margin: 0 auto;
    color: #002240;
    text-align: center;
    font-weight: 650;
}


.headerText .bottomText{
    font-size: 52px;
    line-height: 36px;
    display: block;
    text-align: center;
    color: #002240;
    font-weight: 550;
}
.bttom2Text{
    font-size: 22px;
    margin-bottom: 0!important;
    color: #002240;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding-top: 2rem;
}

 /* <-------------------------------------------------------owl carousel.css-------------------------------------------------------------------------> */

 .item{
     margin: 0;
     padding-left: 5rem;
 }
 .card{
    box-shadow: 0 0 12px #e4eaea;
    border-radius: 12px ;
    width: 293.333px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.newDeal{
    position: absolute;
    top: 5px;
    left: 20%;
    z-index: 1;
}
.cardBody{
    padding: 15px 20px;
}
.card h3{
    text-align: left!important;
    margin-right: auto;
    font-size: 16px;
    line-height: 20px;
    color: #002240;
}


/* <-----------------------------------------------------Slider.css-----------------------------------------------------------------------------> */

.head button{
    border: 1px solid #d6e5e8;
    background-color: #fafafa;
    border-radius: 5px;
    line-height: 1.42857143;  
    align-items: center;
    justify-content: center;
    color: #002240; 
    font-size: 18px;
    font-weight: 600;
    padding: 15px 0px 15px 0px;
    width: 80% !important;
}
.head button:hover{
    border: 2px solid #00AFF4;
}
.head button:focus{
    background-color: #00AFF4;
    color: white;
}
.upperCarousel{
  padding: 5%;
}
.upperCarousel p{
    padding: 10px 15px;
    text-align: center !important;
}
.CarouselBottomButon{
    background: none !important;
    color: black;
}


