body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-list p {
  width: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.slick-slider .slick-prev:before {
  color: #484848 !important;
  cursor: pointer;
}
.slick-slider .slick-next:before {
  color: #484848 !important;
  cursor: pointer;
}
.slick-slide .slick-active{
  margin: 1%;
}
