body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-list p {
  width: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.slick-slider .slick-prev:before {
  position: absolute;
  top: calc(50% - 4px);
  left: 15px;
  content: '';
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 15px;
  transform: rotate(137deg);
}
.slick-slider .slick-next:before {
  position: absolute;
  top: calc(50% - 4px);
  left: 15px;
  content: '';
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 15px;
  transform: rotate(-45deg);
  left: -7px;
}
.slick-slide .slick-active{
  margin: 1%;
}
